App.config
app.manifest
Program.cs
Number Guessing Game.csproj
Number Guessing Game.slnx
frmMain.Designer.cs
frmMain.resx
frmDifficulty.Designer.cs
frmDifficulty.resx
frmGame.Designer.cs
frmGame.resx
frmBase.Designer.cs
frmBase.resx
Properties/
bin/
obj/
.vs/